.reports-gallery-body.col-md-12
	.image-slider-group
		ul.lightgallery.list-unstyled
			if (data.reportimages)
				- var imageStr = ''
				- var count = 0;
				each value, key in data.reportimages
					- imageStr += `${process.env.API_DOMAIN}/${value.file_path}, `
				- imageStr = imageStr.substring(0, imageStr.length-2);
				each clientValue, clientKey in data.reportimages
					- count++;
					li(data-responsive='#{imageStr}', data-src='#{process.env.API_DOMAIN}/#{clientValue.file_path}', data-sub-html='<h4>#{clientValue.label}</h4>')
						a(href='')
							img.img-responsive.hide(src='#{process.env.API_DOMAIN}/#{clientValue.file_path}')
							if (count === 1)
								button.btn.btn-primary.viewImgs.btn-orange.pull-left(type='button') View images