form#validator_parivahan_detail_form.col-md-12.p-0(role='form', class="form-horizontal")
	.col-md-12.p-0
		if (data.question && data.question.rating && data.question.rating.parivahan_details)
			each inputValue, inputKey in data.question.rating.parivahan_details
				.border-question.col-sm-6.col-xs-12
					label.col-form-label(for='#{inputKey}') #{inputValue.label ? inputValue.label : inputValue}
					if (inputValue.type === "text")
						.form-group
							input.form-control(type='text', placeholder='#{inputValue.placeholder}', name="#{inputKey}", value = data.formData.customer.customerName ? '#{data.formData.customer.customerName}' : '', class = '#{inputValue.class}', required)
							span.col-sm-12.error.error-block
					else if (inputValue.type === "date")
						.form-group
							input.datepicker.form-control(type='text', placeholder='#{inputValue.placeholder}', name="#{inputKey}", class = '#{inputValue.class}', required)
							span.col-sm-12.error.error-block
					else if (inputValue.type === "year")
						.form-group
							input.datepicker.form-control.js-yearmask(type='text', placeholder='#{inputValue.placeholder}', name="#{inputKey}", class = '#{inputValue.class}', required)
							span.col-sm-12.error.error-block
		.col-md-12.mg-tp-20.p-0
			.col-md-3.col-xs-6.p-0
				include image-slider
			.col-md-4.col-xs-6.p-0.right
				.col-md-8.col-xs-12.p-0.right
					input.btn.btn-block.btn-default.btn-flat.btn-create.btn-orange.js_valuator_parivahan_details_submit_btn(type="submit", value= "Save")