form#validator_image_upload_form.col-md-12.p-0(role='form', class="form-horizontal", enctype="multipart/form-data")
	if (data && data.questions)
		.col-md-12.p-0
			.col-md-12.image-block
				- var count = 1;
				- var showCount = 4;
				input.uploadObject(type="hidden", data-value = '#{JSON.stringify(data.questions)}')
				each value, key in data.questions
					- var addClass = count > showCount ? "hide" : "";
					if (data.answers[key])
						- addClass = ""
					.col-sm-4.image-preview-section.pl-0.mg-tp-10(class='#{addClass}')
						input.imageElement(type="hidden", name='#{key}', data-label='#{value}' value='#{data.answers[key] ? data.answers[key].file_path : ""}')
						.col-md-12.image-preview-block
							if (data.answers[key])
								img.image-preview(src='#{process.env.API_DOMAIN}/#{data.answers[key].file_path}')
							else
								img.image-preview.newupload.hide
								- count++;
							if (!data.answers[key])
								.col-md-12.image-show-block.image-display-hint.p-0
									h5.mg-tp-10 Image Preview section
						.col-md-12.p-0
							p.col-sm-12.col-xs-12.image_name &emsp; #{data.answers[key] ? data.answers[key].file_name : '' }
						.col-md-12.p-0
							.form-group
								if (data.answers[key])
									input.form-control(type='text', placeholder='#{data.answers[key].label}', disabled)
								else
									select.form-control.select2.imageUpload(style='width: 100%;',  data-placeholder="Choose Image Type", name='select_#{key}', class = '#{data.answers[key] ? "disabled" : ""}')
										option
										each clientValue, clientKey in data.questions
											option(value='#{clientKey}', selected = key === clientKey) #{clientValue}
								span.col-sm-12.error.error-block
					
			.col-md-12.p-0
				.form-group.pl-0.col-sm-4.col-xs-12
					.upload-block
						span.upload-title.btn.upload-round Upload Multiple Image
							input.upload-input.col-sm-12.col-xs-12.p-0(type="file", name='upload[]', multiple)
			.col-md-12
				.col-sm-4.col-xs-12
					span.uploadImageErrorMsg.error.error-block
			.col-md-12
				.col-md-3.mg-tp-20
					input.btn.btn-block.btn-default.btn-flat.btn-create.btn-orange.js_valuator_upload_submit_btn(type="submit", value= "Save")