form#validator_test_drive_form.col-md-12.p-0(role='form', class="form-horizontal")
	input(type='hidden', name='form_type', value='test_drive')
	.col-md-12.p-0
		if (data.questions)
			each inputValue, inputKey in data.questions
				.border-question(class = '#{inputValue.class}')
					label.col-form-label(for='#{inputKey}') #{inputValue.label ? inputValue.label : inputValue}
					if (inputValue.type === "radio")
						.form-group.rating-checkbox-group
							each value, key in inputValue.options
								span
									input.rating-checkbox.answer-field(type='radio', name='#{inputKey}', value='#{key}', id='#{inputKey}_#{key}', class= '#{value.class ? value.class : ""}', checked =  data.answers[inputKey] === key, required)
									label.rating-checkbox-label(for='#{inputKey}_#{key}', class= '#{value.class ? value.class : ""}') #{value.label ? value.label : value }
							span.col-sm-12.error.error-block
	.col-md-12.mg-tp-20.p-0
		.col-md-3.col-xs-6.p-0
			include image-slider
		.col-md-4.col-xs-6.p-0.right
			.col-md-8.col-xs-12.p-0.right
				input.btn.btn-block.btn-default.btn-flat.btn-create.btn-orange.js_valuator_test_drive_submit_btn(type="submit", value= "Save")