form#validator_general_input_form(role='form', class="form-horizontal")
	input(type='hidden', name='form_type', value='general_input')
	.col-md-12.p-0
		if (data.questions)
			each inputValue, inputKey in data.questions
				.border-question.col-sm-4.col-xs-12
					label.col-form-label(for='#{inputKey}') #{inputValue.label ? inputValue.label : inputValue}
					if (inputValue.type === "text")
						.form-group
							input.form-control.answer-field(type='text', placeholder='#{inputValue.placeholder}', name="#{inputKey}", value = data.answers[inputKey] ? '#{data.answers[inputKey]}' : '', class = '#{inputValue.class}', required)
							span.error.error-block.col-sm-12
					else if (inputValue.type === "date")
						.form-group
							input.datepicker.form-control.answer-field(type='text', placeholder='#{inputValue.placeholder}', name="#{inputKey}", class = '#{inputValue.class}', value = data.answers[inputKey] ? '#{data.answers[inputKey]}' : '', required)
							span.error.error-block.col-sm-12
					else if (inputValue.type === "select")
						.form-group
							select.form-control.select2.answer-field(style='width: 100%;',  data-placeholder="#{inputValue.placeholder}", name="#{inputKey}", required)
								option
								if (inputValue.options)
									each clientValue, clientKey in inputValue.options
										if (data.answers[inputKey])
											option(value='#{clientKey}' , selected = data.answers[inputKey] ===clientKey) #{clientValue.label}
										else
											option(value='#{clientKey}') #{clientValue.label}
							span.error.error-block.col-sm-12
		.col-md-12.mg-tp-20.p-0
			.col-md-3.col-xs-6.p-0
				include image-slider
			.col-md-4.col-xs-6.p-0.right
				.col-md-8.col-xs-12.p-0.right
					input.btn.btn-block.btn-default.btn-flat.btn-create.btn-orange.js_valuator_parivahan_details_submit_btn(type="submit", value= "Save")