aside.main-sidebar.sidebar-dark-primary.elevation-4
	a.brand-link(href='/dashboard')
		img.brand-image(src='/images/logo_white.svg', alt='AdminLTE Logo')
	.sidebar
		nav
			ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
				for menu in data.menu
					- var classText = `nav-icon fas ${menu.class} menu-icon`
					if (menu.submenuAvailable)
						li.nav-item.has-treeview(class= menu.submenuKey.includes(data.active) ? "menu-open" : "")
							a.nav-link.nav-header(href='#')
								i(class = '#{classText}')
								p #{menu.text}
									i.fas.fa-angle-left.right
							ul.nav.nav-treeview
								for submenu in menu.submenuList
									- var classText = `nav-icon fas ${submenu.class} menu-icon`
									li.nav-item
										a.nav-link.px-5(class = data.active === submenu.active ? "active" : "", href= '#{submenu.href}')
											i(class = '#{classText}')
											if (data.active === submenu.active)
												span.selected
											p #{submenu.text}
					else
						li.nav-item
							a.nav-link(class = data.active === menu.active ? "active" : "", href= '#{menu.href}')
								i(class = '#{classText}')
								if (data.active === menu.active)
									span.selected
								p #{menu.text}
				li.nav-item.has-treeview
					p &emsp;
				li.nav-item.has-treeview
					p &emsp;
				li.nav-item.has-treeview
					p &emsp;
				